{% load static %}
    <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>enter</title>
        <link rel="stylesheet" href="{% static 'css/enter.css'%}">
    </head>
    <body>
        <div class = "main">
            <div class="banner">
                <p><strong>배지현의 Blog</strong>에 오신걸 환영합니다.</p>    
                <p>입장하시겠습니까?</p>
                <a href="{% url 'home' %}">네!</button>
            </div>
        </div>
    </body>
</html>