*{
    background-color: aliceblue;
}

.main{
    text-align: center;
    margin: 200px 500px 200px 40%;
    width: 350px;
    border-radius: 180%;
    background-color: white;
}
input{
    width: 50px;
}
p, input{
    background-color: inherit;
}
strong{
    background-color:#03cafc;

}